{%extends 'base.html'%} {% block content %}

<body>
    <div class="container-fluid" style=" background-color: #d8e0bb; height: 700px;">
        <h1 class='text-center' style="border:solid 5px #86a3c3; color:#030303;border-radius: 25px;margin-top:150px; padding:30px;margin-left: 250px;margin-right: 250px;">Welcome to Photo Galore.</h1>
        <h4 class="text-center" style="border:solid 3px #86a3c3; border-radius: 25px;margin-top:150px; padding:30px;margin-left: 250px;margin-right: 250px; height: 30%;">" Capture the true essence of life, by stopping the moment from running "</h4>
    </div>
</body>

{% endblock %}