<nav class=" navbar-inverse" style="background-color:#030303; color:aliceblue;">
    <div class="container-fluid">
        <div class=" navbar-header ">
            <a class=" navbar-brand " href="{% url 'gallery' %} " style="background-color:#030303; color:aliceblue;">Photo Galore</a>
            <a class=" navbar-brand " href="{% url 'displayImages' %} " style="background-color:#030303; color:aliceblue;"> Gallery </a>
            <h5><a href="/admin" class="nav-item">👥&nbsp;ADMIN DASHBOARD</a></h5>
        </div>
        <!-- Adding a search form  -->
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Image" name="image">
                    <div class="input-group-btn">
                        <button class="btn btn-primary " type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>

            </form>
        </div>

        <!-- search form end -->
    </div>
</nav>